<div class="container">
    <!-- Top box -->
    <!-- Logo & Site Name -->
    <div class="placeholder">
        <div class="parallax-window" appParallax data-image-src="/assets/img/simple-house-01.jpg" style="background-image: url(/assets/img/simple-house-01.jpg);background-position-y: -400px;">
            <div class="tm-header">
                <div class="row tm-header-inner">
                    <div class="col-md-6 col-12">
                        <img src="/assets/img/simple-house-logo.png" alt="Logo" class="tm-site-logo" />
                        <div class="tm-site-text-box">
                            <h1 class="tm-site-title">Shree Krupa Restaurant</h1>
                            <h6 class="tm-site-description">A New Restaurant</h6>
                        </div>
                    </div>
                    <nav class="col-md-6 col-12 tm-nav">
                        <ul class="tm-nav-ul">
                            <li class="tm-nav-li"><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="tm-nav-link">Home</a></li>
                            <li class="tm-nav-li"><a routerLink="/about" routerLinkActive="active" class="tm-nav-link">About</a></li>
                            <li class="tm-nav-li"><a routerLink="/contact" routerLinkActive="active" class="tm-nav-link">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
    