<div class="container">
    <main>
        <header class="row tm-welcome-section">
            <h2 class="col-12 text-center tm-section-title">About Shree Krupa Restaurant</h2>
            <p class="col-12 text-center">Lorem Ipsum is simply dummy text of the printing industry.<br>
                Contrary to popular belief, Lorem Ipsum is not simply random text.<br>
                Lorem Ipsum is dummy text for printing.</p>
        </header>

        <div class="tm-container-inner tm-persons">
            <div class="row">
                <article class="col-lg-6">
                    <figure class="tm-person">
                        <img src="/assets/img/user.png" alt="Image" class="img-fluid tm-person-img" />
                        <figcaption class="tm-person-description">
                            <h4 class="tm-person-name">John Doe</h4>
                            <p class="tm-person-title">Founder and CEO</p>
                            <p class="tm-person-about">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <div>
                                <a href="https://fb.com" class="tm-social-link"><i
                                        class="fab fa-facebook tm-social-icon"></i></a>
                                <a href="https://twitter.com" class="tm-social-link"><i
                                        class="fab fa-twitter tm-social-icon"></i></a>
                                <a href="https://instagram.com" class="tm-social-link"><i
                                        class="fab fa-instagram tm-social-icon"></i></a>
                            </div>
                        </figcaption>
                    </figure>
                </article>
                <article class="col-lg-6">
                    <figure class="tm-person">
                        <img src="/assets/img/user.png" alt="Image" class="img-fluid tm-person-img" />
                        <figcaption class="tm-person-description">
                            <h4 class="tm-person-name">John Doe</h4>
                            <p class="tm-person-title">Executive Chef</p>
                            <p class="tm-person-about">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <div>
                                <a href="https://fb.com" class="tm-social-link"><i
                                        class="fab fa-facebook tm-social-icon"></i></a>
                                <a href="https://twitter.com" class="tm-social-link"><i
                                        class="fab fa-twitter tm-social-icon"></i></a>
                            </div>
                        </figcaption>
                    </figure>
                </article>
                <article class="col-lg-6">
                    <figure class="tm-person">
                        <img src="/assets/img/user.png" alt="Image" class="img-fluid tm-person-img" />
                        <figcaption class="tm-person-description">
                            <h4 class="tm-person-name">John Doe</h4>
                            <p class="tm-person-title">Kitchen Manager</p>
                            <p class="tm-person-about">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <div>
                                <a href="https://fb.com" class="tm-social-link"><i
                                        class="fab fa-facebook tm-social-icon"></i></a>
                                <a href="https://instagram.com" class="tm-social-link"><i
                                        class="fab fa-instagram tm-social-icon"></i></a>
                            </div>
                        </figcaption>
                    </figure>
                </article>
                <article class="col-lg-6">
                    <figure class="tm-person">
                        <img src="/assets/img/user.png" alt="Image" class="img-fluid tm-person-img" />
                        <figcaption class="tm-person-description">
                            <h4 class="tm-person-name">John Doe</h4>
                            <p class="tm-person-title">Culinary Director</p>
                            <p class="tm-person-about">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <div>
                                <a href="https://fb.com" class="tm-social-link"><i
                                        class="fab fa-facebook tm-social-icon"></i></a>
                                <a href="https://twitter.com" class="tm-social-link"><i
                                        class="fab fa-twitter tm-social-icon"></i></a>
                                <a href="https://instagram.com" class="tm-social-link"><i
                                        class="fab fa-instagram tm-social-icon"></i></a>
                                <a href="https://youtube.com" class="tm-social-link"><i
                                        class="fab fa-youtube tm-social-icon"></i></a>
                            </div>
                        </figcaption>
                    </figure>
                </article>
            </div>
        </div>
        <div class="tm-container-inner tm-featured-image">
            <div class="row">
                <div class="col-12">
                    <div class="placeholder-2">
                        <div class="parallax-window-2" appParallax data-parallax="scroll" data-image-src="/assets/img/user.png"  style="background-image: url(/assets/img/about-05.jpg);background-position-y: -400px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tm-container-inner tm-features">
            <div class="row">
                <div class="col-lg-4">
                    <div class="tm-feature">
                        <i class="fas fa-4x fa-pepper-hot tm-feature-icon"></i>
                        <p class="tm-feature-description">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        <a routerLink="/" class="tm-btn tm-btn-primary">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="tm-feature">
                        <i class="fas fa-4x fa-seedling tm-feature-icon"></i>
                        <p class="tm-feature-description">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        <a routerLink="/" class="tm-btn tm-btn-success">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="tm-feature">
                        <i class="fas fa-4x fa-cocktail tm-feature-icon"></i>
                        <p class="tm-feature-description">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        <a routerLink="/" class="tm-btn tm-btn-danger">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tm-container-inner tm-history">
            <div class="row">
                <div class="col-12">
                    <div class="tm-history-inner">
                        <img src="/assets/img/about-06.jpg" alt="Image" class="img-fluid tm-history-img" />
                        <div class="tm-history-text">
                            <h4 class="tm-history-title">History of our restaurant</h4>
                            <p class="tm-mb-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>